.nav-item:hover{
    background-color: #90a4ae;
    
}
.navbar{
    background-color: #6effff !important; 
    color: black !important;
    font-weight: bold !important;
    
}

.image, .row .fimg{
    height: 50px;
}
.fa-user-circle-o,.fa-shopping-cart{
    font-size: 32px !important;
}
.footer{
    background-color: #6effff;
    margin-top: 10px;

}
.row h4{
    margin: 20px auto;
    font-weight: bold;
    
}
.cards{
    /* background-color:  #6effff; */
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

